<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>About</title>
</head>
<body>
    <div class="photo-neymar-about">
        <img src="../images/neymar_stream.jpeg" width="1080" height="400" alt="">
    </div>  
        <div class="centerText">
          <h1>
            Neymar JR!
          </h1>
        </div>
        <div class="text-about">
          <h6>Neymar da Silva Santos Júnior <br> (born 5 February 1992),
            known as Neymar, is a Brazilian <br> professional footballer who 
            plays as a forward for Ligue 1 club <br> Paris Saint-Germain and the
            Brazil national team. <br> <strong>He is widely regarded
            as one of the best players in the world.</strong>
          </h6>
        </div>
      </div>
      <div class="botao">
  <button> <a class="btnaccomplished" href="/works">What has Neymar accomplished?</a> </button>
</div>
</body>
</html>