<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>NJR!</title>
</head>
<body>
    <header>
        <div class="fixedbar">
          <div class="navbarleft">
            <img src="../images/neymar_logo-removebg-preview (1).png" alt="Logo Neymar" class="logoNeymar">
          </div>
          <div class="navbarright">
            <ul>
              <li> <a href="https://www.instagram.com/neymarjr/">Instagram</a> </li>
              <li> <a href="https://www.facebook.com/neymarjr/videos_by">Facebook</a></li>
              <li> <a href="https://www.neymarjr.com/en">Official Website</a> </li>
              <li> <a href="/about" class="see-more-here">See more here</a> </li>
            </ul>
          </div>   
        </div>
      </header>
    <div class="photo-neymar-home">
        <img src="../images/njr_bg.jpeg" width="1020" height="800" alt="">
    </div>
</body>
</html>