<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Works</title>
</head>
<body class="whole-works"> 
    <div class="title-works">
        <h1>Neymar's Career Overview 🏆 </h1>
    </div>
    <div class="text-works">
        <h4><strong>Saint­-Germain (2017 ­- present) 🇫🇷 </strong></h4>
        <p>In its debut season, Neymar Jr. lead PSG to Ligue 1, French Cup, League Cup and Super Cup. <br>
           The club regain the Ligue 1 title again in the following season, racking up 14 consecutive league <br>
           wins, setting a French record. Neymar Jr. is named Ligue 1 Player of the Year. In 2020, a historic <br>
           moment: Neymar Jr leads Paris to the first Champions League final.</p>
        <h4>Barcelona (2013 - 2017) 🇪🇸  </h4>
        <p>Neymar Jr. joins Messi and Suarez, and thus begins the reign of one of the greatest attacks in <br>
             history, MSN. Barça wins all possible titles. After four seasons, Neymar Jr. ends his spell at <br>
              Barça with 114 goals.</p>    
        <h4>Brasil (2010 ­- present) 🇧🇷 </h4>
        <p>Neymar Jr. scores within 28 minutes in his debut match in 2010. At the 2016 Summer Olympics,<br>
         he scores the first goal and the winning penalty of the final, earning Brasil its first gold in men's <br>
         football. This performance cements his legacy as a Brasilian footballer, despite being only 24 years old.<br>
          In 2019 he completes 100 games for the Brazilian National Team.</p>
          <h4>Santos (2009 ­- 2013) 🇧🇷 </h4>
          <p>
            Neymar Jr. makes his professional debut at age 17. Despite revolving offers from the giants <br>
            of Europe, he plays five seasons for Santos, leading the club to victory in the Campeonato Paulista <br>
            and its first Copa Libertadores title in 48 years, and adding the Puskás Award to his personal shelf.</p> 
    </div>    
    <div class="botao-gallery">
        <button> <a class="btngallery" href="/photos">Photo Gallery here</a> </button>
      </div>
</body>
</html>